html,body,.container {
    height:100%;
    width: 100%;
    overflow: hidden;
    margin:0px;
    font-family: verdana;
    background: linear-gradient(135deg, #F4F2F3, #BFC6D0);
    z-index: 0; 
}

.chat-title{
    box-sizing: border-box;
    top: 0px;
    width: 100%;
    height: 80px;
    position: absolute;
    font-weight: bold;
    font-size: 25px; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    color: #495464;
}
.chat-container{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.chat-dump{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    padding: 10px;
}
.chat-form {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    font-size: 23px;
    height: 80px;
    width: 100%;
}
.fform{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 10px;
}
.chat-label{
    width: 97%;
    height: 60px;
}
.chat-input{
    box-sizing: border-box;
    height: 60px;
    font-size: 15px;
    width: 100%;
    padding: 5px;
    border: 1px solid transparent;
    border-color: #495464;
    border-radius: 10px;
}
.chat-input:focus{
    border-color: #495464;
}
.chat-submit{
    width:3%;
    height: 100%;
    font-size: 10px;
    margin-left: 1%;
    visibility: hidden;
}

.message {
    display: flex;
    clear: both;
    margin: auto;
    width: 97%;
    margin-top: 7px;
    font-size: 15px;
    padding: 7px;
    background-color: #e8e8e8;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow:	2px 2px 2px rgba(0, 0, 0, .3), 2px 2px 2px rgba(0, 0, 0, .2);
    color: #495464;
    z-index: 5;
}

.author {
    width: 130px;
    padding-left: 15px;
    font-weight: bold;
    float: left;
}
.date {
    width: 30px;
    float: left;
    padding-left: 15px;
    font-weight: italic;
    color: #bbbfca;
} 

.chat-message {
    width: 100%;
    margin-left: 40px;
    overflow-wrap: break-word;
}
.centered{
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

